@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<CETWebProject.Data.Entities.Invoice>

@{
    ViewData["Title"] = "Invoice Index";
    
}

<h1>
    List of invoices
</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstDecimalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondDecimalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdDecimalValue)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.IsPaid)
            </th>
            <th data-dt-order="disable">
                    Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstDecimalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondDecimalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdDecimalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
                @if (this.User.IsInRole("Customer") && item.IsPaid == false)
                {
                    <td>
                        <a asp-action="Pay" asp-route-id="@item.Id" class="btn btn-primary">Pay</a>
                    </td>
                }
                else if (this.User.IsInRole("Customer"))
                {
                    <td>
                        You've already paid this invoice.
                    </td>
                }
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>

@section Scripts
                {
    <script type="text/javascript">
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
}