@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<CETWebProject.Data.Entities.Invoice>

@{
    ViewData["Title"] = "Invoice Index";
    
}

<h1>
    List of invoices
</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @if (this.User.IsInRole("Employee"))
            {
                <th>
                    Actions
                </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                @if (this.User.IsInRole("Employee"))
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
