@model IEnumerable<CETWebProject.Data.Entities.Reading>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadingTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadingTime)
            </td>
            <td>
                    @if (this.User.IsInRole("Employee"))
                    {
                        <a asp-action="EditReading" asp-route-id="@item.Id">Edit</a>
                        <a asp-action = "DeleteReading" asp -route-id = "@item.Id"> Delete </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
