@model ICollection<CETWebProject.Data.Entities.UserTemp>
@{
    ViewData["Title"] = "UserManager";
}

<h2>Admin Center</h2>
<h3>User Requests</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Request #
            </th>
            <th>
                Email
            </th>
            <th data-dt-order="disable">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @if (!item.IsMeterApproved)
                    {
                        <p>Awaiting meter request approval.</p>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="AcceptUserRequest" asp-route-id="@item.Id" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Accept User Request
                        </a>
                        <a asp-controller="Account" asp-action="DenyUserRequest" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Deny User Requests
                        </a>
                        <a asp-controller="Account" asp-action="UserRequestDetails" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-book" aria-hidden="true"></i> Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
}