@model IEnumerable<CETWebProject.Models.UserViewModel>
@{
    ViewData["Title"] = "UserManager";
}

<h2>Employee Center</h2>
<h3>User Management</h3>
<a asp-controller="WaterMeters" asp-action="MeterRequests">Check Meter Requests</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileFullPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignUpDateTime)
            </th>
            <th data-dt-order="disable">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.ProfileFullPath)" alt="Profile Picture" style="width:100px;height:100px;max-width:100%; height:auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignUpDateTime)
                </td>
                <td>
                    @if (this.User.Identity.Name == item.Email)
                    {
                        <p>Current User</p>
                    }
                    else
                    {
                        <a asp-controller="WaterMeters" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Water meters</a>
                        
                        <a asp-controller="Invoice" asp-action="EmployeeInvoiceIndex" asp-route-userId="@item.Id" class="btn btn-primary">Invoices</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
}