@model IEnumerable<CETWebProject.Models.UserViewModel>
@{
    ViewData["Title"] = "UserManager";
}

<h2>Admin Center</h2>
<h3>User Management</h3>
<a asp-action="UserManagerAddUser">Add a new user</a>
<a asp-action="AdminUserRequests">Check User Requests</a>
<table class="table">
    <thead>
        <tr>
            <th data-dt-order="disable">
                @Html.DisplayNameFor(model => model.ProfileFullPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignUpDateTime)
            </th>
            <th data-dt-order="disable">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.ProfileFullPath)" alt="Profile Picture" style="width:100px;height:100px;max-width:100%; height:auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignUpDateTime)
                </td>
                <td>
                    @if (this.User.Identity.Name == item.Email)
                    {
                        <p>Current User</p>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts 
{
    <script type="text/javascript">
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
}